* {
  color: #ffffff;
  background-color: #0f1021;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.navbar {
  display: none;
  z-index: 1;
}

.link {
  text-decoration: none;
  -webkit-user-drag: none;
  margin: 0 20px;
  font-family: Helvetica, sans-serif;
}

@media screen and (min-width: 576px) {
 .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  }

  .container {
    padding-top: 50px;
  }
}

.link:hover {
  text-decoration: overline;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image > img {
  -webkit-user-drag: none;
  width: 100%;
  border-radius: 5px;
}

.title {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.autora {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
} 

.subtitle {
  margin-bottom: 20px;
}

.present {
  font-style: italic;
  line-height: 22px;
}

.p1, .p2 {
  padding-bottom: 5px;
}

.section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#section2 {
  display: flex;
  flex-direction: column;
}

#section2 > p {
  margin-bottom: 5px;
}

#section2 > div {
  margin-bottom: 10px;
}

#section2 > p:first-of-type {
  margin-bottom: 20px;
}

#section3 {
  margin-bottom: 0;
}

.form1 {
  display: flex;
  flex-direction: column;
}

.form1, .form2, .form3 {
  margin-bottom: 20px;
}

.how {
  margin-bottom: 20px;
}

label {
  display: block;
}

.form1 > label {
  margin-bottom: 20px;
}

.form2 > label {
  margin-bottom: 10px;
}

.form1 > label > input {
  width: 98%;
  margin: 10px 0;
}

.aboutus {
  display: flex;
  flex-direction: column;
}

.aboutarea {
  margin-top: 10px;
  height: 80px;
  resize: none;
}

input {
  border: 1px solid rgb(162, 160, 160);
}

.submit {
  padding: 5px 10px;
}

.submit:hover {
  cursor: pointer;
}

.submitcont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 400px;
  margin-left: auto;
  margin-right: auto; 
}

.social {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  height: 50px;
}

.bar {
  width: 80%;
  height: 20px;
  background-color: black;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.progress {
  position: relative;
  left: 1.5px;
  height: 75%;
  border: 1px solid transparent;
  border-radius: 15px;
}

.pr1 {
  animation: expand1 3s ease-out infinite;
  z-index: 0;
}

.pr2 {
  animation: expand2 3s ease-out infinite;
  z-index: 0;
}

.pr3 {
  animation: expand3 3s ease-out infinite;
  z-index: 0;
}

.pr4 {
  animation: expand4 3s ease-out infinite;
  z-index: 0;
}

@keyframes expand1 {
  0% {
    width: 0%;
    background-color: violet;
  }
  100% {
    width: 80%;
    background-color: rgb(50, 109, 210);
  }
}

@keyframes expand2 {
  0% {
    width: 0%;
    background-color: violet;
  }
  100% {
    width: 60%;
    background-color: rgb(50, 109, 210);
  }
}

@keyframes expand3 {
  0% {
    width: 0%;
    background-color: violet;
  }
  100% {
    width: 50%;
    background-color: rgb(50, 109, 210);
  }
}

@keyframes expand4 {
  0% {
    width: 0%;
    background-color: violet;
  }
  100% {
    width: 80%;
    background-color: rgb(50, 109, 210);
  }
}